@import '../variables';

.header {
  margin-top: 7vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2.25fr;
}

.sidebar {
  ul {
    font-family: Arial;
    list-style-type: none;
    color: rgba($white, 0.7);
    margin-top: 1rem;
  }

  li {
    padding-bottom: 0.4rem;
  }
  
}

.aWrit {
  margin: 10vh 0;
  max-width: 700px;

  h3 {
    text-decoration: underline;
    margin-bottom: 1rem;
  }
}